<!DOCTYPE html>
<html>
	<head>
		<title>Advanced Tic-Tac-toe</title>

		<meta charset='UTF-8'>

        <script src='/_ah/channel/jsapi'></script>

		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/signin.css" rel="stylesheet">
        <link href="/static/css/tic_style.css" rel="stylesheet">

	</head>
	<body>
		
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Advanced Tic Tac toe</a>
				</div>

		      	<ul class="nav navbar-nav navbar-right">
					{% if user %}
			        	<li><a href="#">Hi, {{user.name}}</a></li>
			        	<li><a href="/logout">Logout</a></li>
				    {% else %}
			        	<li><a href="/login" >Sign In</a></li>
				    {% endif %}
		      	</ul>
			</div>
		</nav>

		<div class="container">
			{% block content %}
			{% endblock %}
	  	</div>

		<div class="modal fade" id="myModal">
			<div class="modal-dialog">
		      	<div class="modal-content">
		      		<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">
					        <span aria-hidden="true">&times;</span>
					        <span class="sr-only">Close</span>
				        </button>
				    	<h4 class="modal-title">Login</h4>
				    </div>

		      		<div class="modal-body" style="padding-left: 25px;">
					    <form action="/login" role="form" method="POST">

					    	<div class="form-group" id="user_name">
								<div class="input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
									<input type="text" id="username" class="form-control" placeholder="Username" name="username" required="required" placeholder="User Name" required="required" />
							  	</div>
							</div>

							<div class="form-group" id="password">
				   			<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
								<input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required" />
						  	</div>
						  	</div>

							<div style="padding-top:0.5cm;padding-bottom:0.5cm;" id="forgot_password">
							    <a class="cursor pull-right password-retrieve btn btn-link" onclick="">
							    <small>Forgot your password?</small></a>
							</div>
							<br/>
							<button id="login_submit" class="btn btn-lg btn-primary btn-block" type="submit">Login
							</button>
					    </form>
		      		</div>
		      		</div>
		      		</div>
		      	</div>
		    </div>
		</div>

        <!-- GAME SCRIPT JS FILE. -->
        <script src="/static/js/tic_game.js"></script>


        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
   </body>


</html>